* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Quicksand;
    font-size: 24px;
}

.container {
    width: 1620px;
    margin: 0 auto;
}

.section_container {
    display: flex;
    justify-content: space-between;
    gap: 447px;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
}

/* header begine */
.header {
    background-color: #0C70AC;
    border-bottom: 1px solid #fff;
}

.header_a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.active {
    color: yellow;
}

.header_links {
    display: flex;
    gap: 95px;
    justify-content: center;
    padding-top: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-bottom: 60px;
}

/* header finish */
/* section one begine */
.section_one {
    background-color: #0C70AC;
}

.h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    padding-top: 170px;
    text-transform: capitalize;
}

.p_section_one {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    opacity: 0.5;
    padding-top: 20px;
}

/* section one finish */

/* section two begine */
.h2_sec {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.section_two {
    background-color: #FFF;
}

.section_two_ul {
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}

.section_two_h3 {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 15px;
}

.section_two_p {
    color: #000;
    text-align: center;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 30px;
}

.section_two_a {
    color: #7C7C7C;
    text-align: center;
    font-weight: 500;
    text-decoration-line: underline;
    margin-bottom: 22px;
    display: block;
}

/* section two finish */
/* section three begine */
.section_three {
    background: #E6E6E6;
}

.section_three_h2 {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 50px;

}

.section_three_ul {
    display: flex;
    gap: 30px;
    padding-bottom: 80px;
}

.section_three_article {
    border-radius: 15px;
}

.section_three_p_date {
    color: #7C7C7C;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 25px;
}

.section_three_h3 {
    color: #000;
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 24px;
}

.section_three_li {
    background-color: #fff;
    border-radius: 15px;
}

.section_three_p {
    color: #7C7C7C;
    font-size: 20px;
    font-weight: 600;
}

.section_three_content {
    padding: 25px 40px 50px 40px;
}

/* section three finish */
/* footer begine */
.footer_top {
    background: #001C2D;
    flex-shrink: 0;
}

.footer_top_h4 {
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 150px;
}

.footer_top_h4_two {
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    display: block;
    float: right;
    margin-top: -417px;
}

.footer_top_a {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}



footer {
    background: #001C2D;
}



.footer_list_images {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 25px;
}

.footer_top {
    display: flex;
    gap: 270px;
}

.footer_container_links {
    display: flex;
    gap: 239px;
}

.footer_top_a {
    margin-bottom: 50px;
    display: block;
}

.footer_top_h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-top: 75px;
}

.footer_bottom {
    border-top: 1px solid #FFF;
    background: #001C2D;
    margin-top: 75px;
}

.footer_bottom_p {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
    text-align: center;
    padding-top: 63px;
    padding-bottom: 63px;
}

/* footer finish */